@import "../../../global/styles/animations.module.css";

.products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin: 0;
  padding-top: 0rem;
  margin-top: 14rem;
  animation: fadeInFromBottom 1s ease;
}

.products_grid_item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  height: 35rem;
  background-color: red;
  transition: transform 0.3s ease;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0px 5px gray;
}

.products_grid_item:hover {
  transform: scale(0.97);
  cursor: pointer;
  box-shadow: 0 0px 8px #8a2be2;
}

.products_grid_item_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow-x: hidden;
}

.products_grid_item img {
  height: 80%;
  object-fit: cover;
}

.products_grid_item_texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.products_grid_item_texts h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.products_grid_item_texts h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.products_grid_item_texts h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}

@media screen and (width<=1220px) and (width>700px) {
  .products_grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .products_grid_item {
    display: flex;
    flex-direction: column;
    height: 25rem;
  }

  .products_grid_item_image_container {
    height: 12rem;
  }

  .products_grid_item_texts h1 {
    font-size: 1.5rem;
  }

  .products_grid_item_texts h2 {
    font-size: 1.2rem;
  }

  .products_grid_item_texts h3 {
    font-size: 1.3rem;
  }
}

@media screen and (width<=700px) {
  .products_grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .products_grid_item {
    display: flex;
    flex-direction: column;
    height: 25rem;
  }

  .products_grid_item_image_container {
    height: 12rem;
  }

  .products_grid_item_texts h1 {
    font-size: 1.5rem;
  }

  .products_grid_item_texts h2 {
    font-size: 1.2rem;
  }

  .products_grid_item_texts h3 {
    font-size: 1.3rem;
  }
}
