@import "../../../global/styles/Animations.module.css";

.auth_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth_page h1 {
  margin-top: 8rem;
  font-size: 2rem;
  padding: 0;
}

.auth_container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
}

.lottie_animation {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  object-fit: cover;
  animation: fadeInFromLeft 1s ease;
}

.auth_form_container {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  width: 38rem;
  min-height: 23rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  justify-content: center;
  animation: fadeInFromRight 1s ease;
}

.form_container_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

.input_wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  position: relative;
}

.input_wrapper input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input_wrapper {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_container button {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.submit_button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
}

.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.loading_button {
  background-color: #6eacee;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
}

.switch_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.switch_container button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
}

.error_message {
  color: red;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

@media screen and (width<=1220px) and (width>700px) {
  .auth_page h1 {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .auth_container {
    margin-top: 2rem;
    width: 80%;
    flex-direction: column;
  }

  .lottie_animation {
    width: 20rem;
    height: 20rem;
    animation: fadeInFromBottom 1s ease;
  }

  .auth_form_container {
    width: 100%;
    margin-bottom: 5rem;
    animation: fadeInFromBottom 1s ease;
  }
}

@media screen and (width<=700px) {
  .auth_page h1 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .auth_container {
    margin-top: 2rem;
    width: 80%;
    flex-direction: column;
  }

  .lottie_animation {
    width: 15rem;
    height: 15rem;
    animation: fadeInFromBottom 1s ease;
  }

  .auth_form_container {
    width: 100%;
    margin-bottom: 5rem;
    animation: fadeInFromBottom 1s ease;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
