.animated_component_from_bottom {
  opacity: 0;
  /* Start hidden */
  transform: translateY(30px);
  /* Start offset */
  transition: opacity 1s ease-out, transform 1s ease-out;
  /* Smooth transition */
}

.animated_component_from_bottom.visible {
  opacity: 1;
  /* Fade in */
  transform: translateY(0);
  /* Move to original position */
}


.animated_component_from_leftEn {
  opacity: 0;
  /* Start hidden */
  transform: translateX(-100px);
  /* Start offset */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  /* Smooth transition */
}
.animated_component_from_leftAr {
  opacity: 0;
  /* Start hidden */
  transform: translateX(100px);
  /* Start offset */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  /* Smooth transition */
}


.animated_component_from_leftEn.visible {
  opacity: 1;
  /* Fade in */
  transform: translateX(0);
  /* Move to original position */
}
.animated_component_from_leftAr.visible {
  opacity: 1;
  /* Fade in */
  transform: translateX(0);
  /* Move to original position */
}



.animated_component_from_rightEn {
  opacity: 0;
  /* Start hidden */
  transform: translateX(1rem);
  /* Start offset */
  transition: opacity 1s ease-out, transform 1s ease-out;
  /* Smooth transition */
}

.animated_component_from_rightAr {
  opacity: 0;
  /* Start hidden */
  transform: translateX(-1rem);
  /* Start offset */
  transition: opacity 1s ease-out, transform 1s ease-out;
  /* Smooth transition */
}

.animated_component_from_rightEn.visible {
  opacity: 1;
  /* Fade in */
  transform: translateX(0);
  /* Move to original position */
}


.animated_component_from_rightAr.visible {
  opacity: 1;
  /* Fade in */
  transform: translateX(0);
  /* Move to original position */
}


.animated_component_opacity {
  opacity: 0;
  transition: opacity 2.5s ease;

}

.animated_component_opacity.visible {
  opacity: 1;
}


.left {
  direction: ltr; /* Left-to-right for English */
  text-align: left;
}

.right {
  direction: rtl; /* Right-to-left for Arabic */
  text-align: right;

}